
      body {
        background-color: lightgrey;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
       
      }
      .box {
        width: 20%;
        float: left;
        margin: 15px 10px;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        margin-top: 100px;
        
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
      }
      .box img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
      }
      .box  h4 {
        margin: 0px 10px;
        text-align: center;
      }
      .box  p {
        margin: 8px;
        font-size: 10px;
        text-align: justify;
        line-height: 10px;
      }
      .box  a {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        background-color: red;
        text-decoration: none;
        padding: 5px;
        border-radius: 8px;
      }
      .box a:hover {
        background-color: blue;
      }

      @media screen and (min-width: width 500px) {
        .box {
          width: 90%;
          /* float: left; */
          margin: 10px 5px;
          background-color: #fff;
          padding: 5px;
          border-radius: 3px;
        }
      }
      img{
          height: 200px;
          width: 150px;

      }
